extends layout

block content
  if !currentUser 
      h1 Sign in to gain access to this page
  else
    if currentUser.role == 'admin'       
      p You are already an admin
    else
      if error
        p(style='color: red')= error.message
      h3 No hints, don't want people deleting everything. Good for you if you can guess it though
      form.message-form(action='' method='POST')
        label.form-control(for='answer')
          p Answer
          input(type='text' id='answer' name='answer')
        div.button-container
        button(type='submit') Submit

