extends layout

block content
  div.error-page
    div.error-page__image-wrapper
      img(src='/images/404.png')
    div.error-page__message
      h4= message
    div.error-page__home-btn
      a(href='/') &larr; Back to Home
