doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      include header
      block content
    script(src='/javascripts/script.js')
