extends layout

block content
  if !currentUser 
      h1 Sign in to gain access to this page
  else
    if currentUser.role == 'admin' || currentUser.role == 'member'
      p You are already a member of the club or an admin
    else
      if error
        p= error.message
      div.container
        form.message-form(action='' method='POST')
          label.form-control(for='answer')
            p Answer
            input(type='text' id='answer' name='answer')
          div.button-container
          button(type='submit') Submit

