extends layout

block content
  div.container
    form.signin-form(action='' method='POST')
      label.form-control(for='email')
        p First Name
        input(type='email' id='email' name='email' value=(previous ? previous.email : ''))
        if errors
          - const error = errors.find(el => el.param === 'email')
          if error
            p.error-message= error.msg
      label.form-control(for='password')
        p Last Name
        input(type='password' id='password' name='password' value=(previous ? previous.password : ''))
        if errors
          - const error = errors.find(el => el.param === 'password')
          if error
            p.error-message= error.msg
     div.button-container
        button(type='submit') Sign up

